@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

.container{
    width: 100%;
    height: 100vh;
     
}

.rotating{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .rotating p {
    font-size: 2.2em;
    margin: 0;
    padding: 0.3em;
    color: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    animation-duration: 10s;
    animation-iteration-count: infinite;
    opacity: 0;
  }
  .rotating p:nth-child(1) {
    background-color: rgb(52, 55, 55);
    animation-name: rotating-text-1;
  }
  @keyframes rotating-text-1 {
    0% {
      transform: translateY(200%);
    }
    33% {
      transform: translateY(100%);
      opacity: 1;
    }
    34% {
      opacity: 0;
    }
  }
  .rotating p:nth-child(2) {
    background-color: tomato;
    animation-name: rotating-text-2;
  }
  @keyframes rotating-text-2 {
    33% {
      transform: translateY(100%);
      opacity: 0;
    }
    66% {
      transform: translateY(0);
      opacity: 1;
    }
    67% {
      opacity: 0;
    }
  }
  .rotating p:nth-child(3) {
    background-color: rgb(28, 69, 145);
    animation-name: rotating-text-3;
  }
  @keyframes rotating-text-3 {
    66% {
      transform: translateY(0);
      opacity: 0;
    }
    90% {
      transform: translateY(-40%);
      opacity: 1;
    }
    100% {
      transform: translateY(-50%);
      opacity: 0;
    }
  }
  @media screen and (max-width: 576px) {
    .rotating {
      font-size: 0.7rem;
    }
  }

  .text-redes{

    font-family: "ABeeZee", sans-serif;
    font-weight:700;
    font-style: oblique;
  
  }
  .text-tecnology{

    font-family: "ABeeZee", sans-serif;
    font-weight:700;
    font-style: oblique;
    padding-bottom: 0.5em;
    padding-top: 1em;
  }
  
